@using HwProj.Models.ViewModels
@model EditViewModel

<div id="edit-profile-menu">
    <ul>
        <li><a href="#">Профиль</a></li>
        <li><a href="#">Почта</a></li>
        <li><a href="#">Пароль</a></li>
        <li><a href="#">Соцсети</a></li>
    </ul>
</div>