@using HwProj.Models.ViewModels

<div id="edit-profile-menu">
    <ul>
        <li>@Ajax.ActionLink("Профиль", "_EditProfileInfoPartial", new AjaxOptions { UpdateTargetId = "profile_partial" })</li>
        <li>@Ajax.ActionLink("Соцсети", "_EditProfileSocialPartial", new AjaxOptions { UpdateTargetId = "profile_partial" })</li>
    </ul>
</div>