@using HwProj.Models.ViewModels
@model EditViewModel

@{
    ViewBag.Title = "Редактирование профиля";
}

<br />
<div class="row">
    <div class="col-lg-4 col-md-4">
        @Html.Partial("_EditProfileMenuPartial")
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        @*should be one of the partials*@
        @Html.Partial("_EditProfileInfoPartial")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}