@model HwProj.Models.User
@{
    ViewBag.Title = "Новости";
}

<br />
<div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-12">
        <div class="jumbotron text-center">
            <h3 class="display-4">Hello.</h3>

            <ul class="nav">
                <li class="nav-item">
                    @if (Model.Notifications.Count == 0)
                    {
                        <a class="nav-link" href="#">Непрочитанные</a>
                        <p>Нет уведомлений</p>
                    }
                    else
                    {
                        var notReadNotifi = Model.NoReadNotifications;
                        <a class="nav-link" href="#">Непрочитанные (@notReadNotifi.Count())</a>
                        foreach (var notifi in notReadNotifi)
                        {
                            <p> @notifi.Text <b>@notifi.SendingTime.Value.ToLongDateString()</b></p>
                        }
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Показать все</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Важное</a>
                </li>
            </ul>
        </div>
    </div>
</div>