@{
    ViewBag.Title = "Регистрация";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Математико-Механический факультет<br />
</address>

<address>
    <strong>Техническая поддержка:</strong>   
    <a href="mailto:support-team.soft@yandex.ru">support-team.soft@yandex.ru</a>
</address>