@model IEnumerable<HwProj.Models.Course>

@{
    ViewBag.Title = "HwProj 2.0";
}

<br />
    @using (Ajax.BeginForm("Find", "Courses", new AjaxOptions {UpdateTargetId = "results"}))
    {
        <div class="offset-lg-1 col-lg-10 col-md-10 offset-sm-1 col-sm-10 offset-1 col-10">
            <div class="jumbotron jumbotron_border_gray">
                <h3 class="display-4">HwProj</h3>
                <h4><s>сайт</s> больше, чем сайт для проверки домашних работ</h4>
                <input class="form-control" placeholder="Поиск названию курса" name="pattern" />
                <hr />
                <input class="btn btn-primary" type="submit" value="Поиск" />
            </div>
        </div>
    }
<div style="margin-top: -100px">
    `@Html.Partial("~/Views/Courses/CoursesList.cshtml", Model)
</div>      
