@{
    ViewBag.Title = "HwProj 2.0";
}

<br />
<div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-12">
        <div class="jumbotron text-center">
            <h3 class="display-4">HwProj</h3>
            @*<span class="badge badge-danger">2.0</span>*@
            <h4><s>сайт</s> больше, чем сайт для проверки домашних работ</h4>
            <hr />

            <input class="form-control" placeholder="Поиск названию курса" />
        </div>
    </div>
</div>
