@using HwProj.Models.Enums
@using HwProj.Tools
@model IEnumerable<HwProj.Models.Course>

<div>
    @if (User.Identity.GetUserRole() == RoleType.Преподаватель.ToString())
    {
        <div class="row float-xl-right float-lg-right float-md-right">
            <div class="col-sm-12 col-12">
                <button class="btn btn-block btn-primary" onclick="location.href='@Url.Action("Create", "Courses")'">
                    Создать курс
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
    }

    @if (Model.Count() == 0)
    {
        <div class="lead text-center">
            <strong>Список курсов пока пуст </strong>
            <i class="far fa-frown"></i>
        </div>
    }
    else
    {
        <div class="col-xs-12 col-12 courses-list_card-row_inline">
            <div id="results">
                @foreach (var course in Model)
                {
                    <div class="courses-list_card_inline">
                        <div class="card border-primary mb-3">
                            <a href=@Url.Action("Index", "Courses", new {courseId = course.Id})>
                                <img src="~/Content/Images/robot_head.png" class="img-fluid">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title course-list_card-text_limit">@course.Name</h5>
                                <hr />
                                <p class="card-text course-list_card-text_limit">@course.Mentor.Name @course.Mentor.Surname</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</div>
