@model IEnumerable<HwProj.Models.Course>

<br />
<div class="offset-lg-1 col-lg-10 col-md-10 offset-sm-1 col-sm-10 offset-1 col-10">
    <div class="text-center jumbotron jumbotron_border_gray">
        @Html.Partial("~/Views/Courses/_CoursesListPartial.cshtml", Model)
    </div>
</div>