@model HwProj.Models.Error


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h2>
            @Model.Message
        </h2>
    </hgroup>
</body>
</html>
